.grid {
  height: 100vh;
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(4, 100px);
  gap: 10px;
  place-content: center end;
  justify-content: end;
  align-content: center;
}
.header {
  background-color: #2ecc71;
}
.content {
  background-color: #3498db;
}
.nav {
  background-color: #8e44ad;
}
.footer {
  background-color: #f39c12;
}
