.grid {
  color: white;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-template-rows: repeat(4, 100px);
  gap: 10px;
}

.items:nth-child(odd) {
  background-color: #2ecc71;
}
.items:nth-child(even) {
  background-color: #3498db;
}
